name: GKI 6.6 · Android15 · SukiSU + KPM

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 120

    steps:
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git bc bison flex libelf-dev libssl-dev make clang lld llvm curl zip unzip python3

      - name: Clone Google GKI 6.6 android15
        run: |
          git clone https://android.googlesource.com/kernel/common -b android15-6.6 kernel

      - name: Clone SukiSU Ultra
        run: |
          git clone https://github.com/SukiSU-Ultra/SukiSU-Ultra suki

      - name: Apply SukiSU patch
        run: |
          cd kernel
          bash ../suki/builtin/kernel/setup.sh builtin

      - name: Enable KSU + KPM
        run: |
          cd kernel
          echo "CONFIG_KSU=y" >> arch/arm64/configs/gki_defconfig
          echo "CONFIG_KPM=y" >> arch/arm64/configs/gki_defconfig

      - name: Build Kernel
        run: |
          cd kernel
          export LLVM=1
          export ARCH=arm64
          export CROSS_COMPILE=aarch64-linux-gnu-
          make gki_defconfig
          make -j$(nproc)

      - name: Pack AnyKernel3
        run: |
          git clone https://github.com/osm0sis/AnyKernel3 --depth=1
          cp kernel/arch/arm64/boot/Image AnyKernel3/
          cd AnyKernel3
          zip -r9 ../SukiSU-GKI-6.6-Android15-KPM.zip ./*

      - name: Upload zip
        uses: actions/upload-artifact@v4
        with:
          name: SukiSU-GKI-6.6-Android15-KPM
          path: "*.zip"
